@model System.Data.Entity.DbSet<UsersMVC.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<!--<form asp-action="Create"   asp-controller="Home" >-->
<div>
    <h3>Login:</h3>
    <input id="login" />
    <h3>First name:</h3>
    <input id="first-name" />
    <h3>Last name:</h3>
    <input id="last-name" />
    <h3>Phone number:</h3>
    <input id="phone-number" />
    <h3>Email:</h3>
    <input id="email" />
    <h3>Address:</h3>
    <input id="address" />
    <input type="button" value="Add User" onclick="addUser()" />
</div>
<input type="button" value="get User" onclick="getUsers()" />
<!--</form>-->
<ul>
    @foreach (var user in @Model)
    {
        <li>
            <label>@user.Login</label>
            <label>@user.FirstName</label>
            <label>@user.LastName</label>
            <label>@user.Phone</label>
            <label>@user.Email</label>
            <label>@user.Address</label>
        </li>
    }
</ul>

<table id="user-tables">
    <tr>
        <th>
            login
        </th>
    </tr>

</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Login</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th scope="row">@item.Login</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <!--
                        <td>
                            <a data-value="@item.Login"
                               href="javascript:void(0)" class="btnEdit">Edit</a>
                        </td>
                    -->
            </tr>  }
    </tbody>
</table>

<script>

    function addUser() {
        var login = $("#login").val();
        var firstName = $("#first-name").val();
        var lastName = $("#last-name").val();
        var phoneNumber = $("#phone-number").val();
        var email = $("#email").val();
        var address = $("#address").val();

        var person = {
            Login: login,
            FName: firstName,
            LName: lastName,
            Phone: phoneNumber,
            Email: email,
            Address: address
        };

        $.ajax({
            type: "POST",
            url: "/Home/Add",
            dataType: "json",
            success: function (msg) {

            },

            data: person
        });
    }

    function getUsers() {
        var userTable = $("#user-tables");
        userTable.append('<tr><td>' + "start" + '</td></tr>');
        $.ajax({
            type: "GET",
            url: "/Home/Update",
            dataType: "json",
            //data: data,
            success: function (response) {
                userTable.append('<tr><td>' + "sec" + '</td></tr>');
                for (var i = 0; i < response.length; i++) {
                    userTable.append('<tr><td>' + response[i].Login + '</td></tr>');
                }
                userTable.append('<tr><td>' + "secc" + '</td></tr>');
            },
        });
        userTable.append('<tr><td>' + "end" + '</td></tr>');
    }
</script>